---
language: node_js
node_js:
  - "6"
  - "8"
  - "10"

branches:
  only:
    - master
    - beta
    - /^greenkeeper.*$/

env:
  - CXX=g++-4.8 WORKER_COUNT=2

sudo: false
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
  chrome: stable

cache:
  directories:
    - $HOME/.npm
  yarn: false # switch to yarn once ember-cli-addon-tests is removed

before_install:
  - npm config set spin false
  - npm install -g npm@4

install:
  - yarn --ignore-engines
